<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <title>IGCSE PHYSICS</title>
  <link rel="stylesheet" type="text/css" href="/dist/reset.css">
  <link rel="stylesheet" type="text/css" href="/dist/reveal.css">
  <link rel="stylesheet" type="text/css" href="/dist/theme/moon.css" id="theme">
  <link rel="stylesheet" type="text/css" href="/plugin/highlight/monokai.css">
  <link rel="stylesheet" type="text/css" href="/plugin/pointer/pointer.css">
  <link rel="stylesheet" type="text/css" href="/plugin/drawer/drawer.css">  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <section>
        <p>Energy can be stored in objects in <span class="fragment">different ways</span> and <span class="fragment">transferred</span> in different ways.</p>
      </section>
      <section>
        <p>Energy transferred to an object can be stored in different ways to the ways in which it was stored before being transferred.</p>
      </section>
      <section>
        <h4>Kinetic Energy</h4>
        <p class="fragment">Kinetic Energy is the energy of an object due to its motion.</p>
      </section>
      <section>
        <h4>Gravitational Potential Energy</h4>
        <p class="fragment">Gravitational potential energy is the energy of an object dut to its position.</p>
      </section>
      <section>
        <h4>Chemical Energy</h4>
        <p class="fragment">Chemical energy is the energy stored in a substance and released when chemical reactions take place.</p>
      </section>
      <section>
        <h4>Internal Energy</h4>
        <p class="fragment">Internal Energy is the energy of an object due to the internal motion and positions of its molecules</p>
      </section>
      <section>
        <h4>Nuclear Energy</h4>
        <p class="fragment">Nuclear Energy is the energy released when the nucleus of an atom splits or disintegrates.</p>
      </section>
      <section>
        <h4>Electrical energy</h4>
        <p class="fragment">Electrical energy is energy transferred by an electric current.</p>
      </section>
      <section>
        <h4>Thermal energy</h4>
        <p class="fragment">The thermal energy is the energy tranfer from a hot object to a cold object.</p>
      </section>
      <section>
        <h4>Sound Energy</h4>
        <p class="fragment">
          Sound Energy is the energy transfer by sound waves.
        </p>
      </section>
      <section>
        <h4>light Energy</h4>
        <p class="fragment">Light energy is the energy transfer by light.</p>
      </section>
      <section>
        <h4>Work done</h4>
        <p class="fragment">Work done is the energy transfer by a force or by electricity.</p>
      </section>
    </div>
  </div>
  <script type="text/javascript" src='/dist/reveal.js'></script>
  <script type="text/javascript" src='/plugin/math/math.js'></script>
  <script type="text/javascript" src='/plugin/notes/notes.js'></script>
  <script type="text/javascript" src='/plugin/highlight/highlight.js'></script>
  <script type="text/javascript" src='/plugin/pointer/pointer.js'></script>
  <script type="text/javascript" src='/plugin/drawer/drawer.js'></script>
  <script type="text/javascript" src='/plugin/menu/menu.js'></script>
  <script type="text/javascript" defer src='/dist/index.js'></script>
</body>
</html>