<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <title>IGCSE PHYSICS</title>
  <link rel="stylesheet" type="text/css" href="/dist/reset.css">
  <link rel="stylesheet" type="text/css" href="/dist/reveal.css">
  <link rel="stylesheet" type="text/css" href="/dist/theme/moon.css" id="theme">
  <link rel="stylesheet" type="text/css" href="/plugin/highlight/monokai.css">
  <link rel="stylesheet" type="text/css" href="/plugin/pointer/pointer.css">
  <link rel="stylesheet" type="text/css" href="/plugin/drawer/drawer.css">  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <section>
        <h3>The principle of conservation of energy</h3>
        <p class="fragment">The total amount of energy before and after a transfer is the same.</p>
      </section>
      <section>
        <p>But energy tends to spread out, for example where energy is transferred to the surroundings by heating or by sound waves. In such situations, we say energy is <span class="fragment">dissipated</span>. </p>
      </section>
      <section>
        <p>Energy can be transferred from one store to another or transferred from one place to another. </p>
        <p class="fragment">Energy cannot be <span class="fragment">created</span> or <span class="fragment">destroyed</span>.</p>
      </section>
    </div>
  </div>
  <script type="text/javascript" src='/dist/reveal.js'></script>
  <script type="text/javascript" src='/plugin/math/math.js'></script>
  <script type="text/javascript" src='/plugin/notes/notes.js'></script>
  <script type="text/javascript" src='/plugin/highlight/highlight.js'></script>
  <script type="text/javascript" src='/plugin/pointer/pointer.js'></script>
  <script type="text/javascript" src='/plugin/drawer/drawer.js'></script>
  <script type="text/javascript" src='/plugin/menu/menu.js'></script>
  <script type="text/javascript" defer src='/dist/index.js'></script>
</body>
</html>