<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <title>IGCSE PHYSICS</title>
  <link rel="stylesheet" type="text/css" href="/dist/reset.css">
  <link rel="stylesheet" type="text/css" href="/dist/reveal.css">
  <link rel="stylesheet" type="text/css" href="/dist/theme/moon.css" id="theme">
  <link rel="stylesheet" type="text/css" href="/plugin/highlight/monokai.css">
  <link rel="stylesheet" type="text/css" href="/plugin/pointer/pointer.css">
  <link rel="stylesheet" type="text/css" href="/plugin/drawer/drawer.css">  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <section>
        <p>
          The fuels include:
          <ul>
            <li class="fragment">fossil fuels such as oil (including petrol), natural gas and coal</li>
            <li class="fragment">biofuels such as wood, straw, methane gas and ethanol.</li>
          </ul>
          <span class="fragment">Note that nuclear fuels (e.g. uranium) release energy as a result of
the nuclei of atoms disintegrating, not as a result of burning fuel.</span>
        </p>
      </section>
      <section>
        <p>The arrow diagram of the process in which electricity is generated as a result of burning fuel</p>
<p class="fragment">
chemical energy —> thermal energy (+ light energy) —> kinetic
energy of the engine and generator (+sound energy + thermal
energy due to friction) —> electrical energy
  
</p>
      </section>
      <section>
        <p>Petrol-powered electricity generators usually consist of <span class="fragment">a petrol engine</span> that turns <span class="fragment">an electricity generator</span>.</p>
      </section>
      <section>
        <h4>In a coal- or oil-fired power station or a biofuel power station,</h4>
        <p class="fragment">the burning fuel heats water in a boiler to produce steam. The steam drives a turbine that turns an electricity generator.</p>
      </section>
      <section>
        <h4>In a gas-fired power station,</h4> 
        <p class="fragment">natural gas is burned directly in a gas turbine engine. This produces a powerful jet of hot gases and air that drives the turbine. A gas-fired turbine can be switched on very quickly.</p>
      </section>
      <section>
        <h4>Energy and efficiency</h4>
        <p>What is the unit of Energy?</p>
        <p class="fragment">Joules ($J$)</p>
      </section>
      <section>
        <h4>What is $1J$ of energy?</h4>
        <p>$1 J$ of energy is the energy transferred to an object of weight $1 N$ when itis raised by a vertical distance of $1 m$</p>
      </section>
      <section>
        The energy supplied to a device = the useful energy output of the device + the energy wasted by the device
      </section>
      <section>
        <h4>What is the efficiency?</h4>
        <p class="fragment">Efficiency is a measure of how much of the energy supplied to a device is usefully used. </p>
      </section>
      <section>
        <h4>Equation for efficiency</h4>
        <p class="fragment">$\text{efficiency} = \frac{\text{the useful energy outputof the device}}{\text{the energy supplied to the device}} \times 100%$</p>
        <p class="fragment">$\text{efficiency} = \frac{\text{the useful power output}}{\text{the power input}} \times 100%$</p>
      </section>
      <section>
        <h4>Sankey Diagram</h4>
        <img src="/img/04/sankey.png">
      </section>
    </div>
  </div>
  <script type="text/javascript" src='/dist/reveal.js'></script>
  <script type="text/javascript" src='/plugin/math/math.js'></script>
  <script type="text/javascript" src='/plugin/notes/notes.js'></script>
  <script type="text/javascript" src='/plugin/highlight/highlight.js'></script>
  <script type="text/javascript" src='/plugin/pointer/pointer.js'></script>
  <script type="text/javascript" src='/plugin/drawer/drawer.js'></script>
  <script type="text/javascript" src='/plugin/menu/menu.js'></script>
  <script type="text/javascript" defer src='/dist/index.js'></script>
</body>
</html>