<section>
  <h3>Nuclear Energy</h3>
  <ul>
    <li class="fragment">Every atom contains a <span class="fragment">nucleus</span> surrounded by <span class="fragment">electrons</span></li>
    <li class="fragment">Nucleus are <span class="fragment">positively</span> charged. </li>
    <li class="fragment"> Electrons are <span class="fragment">negatively</span> charged.</li>
    <li class="fragment">The nucleus is composed of <span class="fragment">neutrons</span> and <span class="fragment">protons</span>.</li>
    <li class="fragment">Atoms of the same element can have different numbers of <span class="fragment">neutrons</span> in the nucleus.</li>
  </ul>
</section>

<section>
  <h4>Nuclear Fission</h4>
  <p class="fragment">The nucleus of a uranium atom is unstable and can split in two when a neutron from outside the atom collides with it. This process is called nuclear fission. Energy is released in the process. </p>
  <p class="fragment">Nuclear fission occurs when a uranium nucleus splits as a result of being struck by a neutron. </p>
</section>

<section>
  <h4>Nuclear fusion</h4>
  <p class="fragment">Two small nuclei release energy when they are fused together to form a single larger nucleus. The process is called nuclear fusion.</p>
  <p class="fragment">Nuclear fusion occurs when two nuclei are forced close enough together so they forma single larger nucleus. </p>
</section>

<section>
  <p>The Sun and other stars release energy as a result of <span class="fragment">nuclear fusion</span> reactions in their cores,</p>
</section>

<section>
  <h4>What is chain reaction?</h4>
  <p class="fragment">When a uranium nucleus undergoes fission, two or three neutrons may be released, as well as energy. These neutrons may cause other uranium nuclei to undergo fission. When this happens, a chain reaction can occur in the core of the reactor.</p>
</section>

<section>
  <section data-auto-animate>
    <h4>Expain how electricity is generated in nuclear power station.</h4>
    <img class="fragment" data-id='reactor' src="/img/04/inside_nuclear_reactor.png">
  </section>
  <section data-auto-animate>
    <div class="multiCol">
      <div class="col">
        <img data-id='reactor' src="/img/04/inside_nuclear_reactor.png" style="height: 225px;">
        <p class="fragment">As there are lots of uranium atoms in the core, it becomes very hot.</p>
      </div>
      <div class="col">
        <p class="fragment">The thermal energy of the core is taken away by a fluid (called the ‘coolant’) that is pumped through the core.</p>
        <p class="fragment">The coolant is very hot when it leaves the core.</p>
      </div>
      <div class="col">
        <p class="fragment">It flows through a pipe to a ‘heat exchanger’ then back to the reactor core.</p>
        <p class="fragment">The thermal energy of the coolant is used to turn water into steam in the heat exchanger. </p>
        
      </div>
    </div>
        <p class="fragment">The steam drives turbines which turn electricity generators.</p>
   <p>
   </p>
   <hr>
  </section>
</section>

<section>
  <div class="multiCol">
  <div class="col">
    <h4>Fusion reactors</h4>
    <p class="fragment">Fusion reactors release energy by fusing hydrogen nuclei and other light nuclei.</p>
    <p class="fragment fade-in-then-semi-out">The fuel needed, such as hydrogen, is available in abundance and the fusion products are not radioactive.</p>
  </div>
  <div class="col">
    <p class="fragment">However, there are enormous technical difficulties in sustaining fusion in a fusion reactor.</p>
    <p class="fragment">A collection of unbound nuclei and electrons, as in a fusion reactor, is called a plasma.</p>
  </div>
  <div class="col">
    <p class="fragment">The plasma must be heated to very high temperatures before any of the nuclei will fuse with each other.</p>
    <p class="fragment">This is because two nuclei approaching each other will repel each other due to their positive charge.</p>
  </div>
</div>
<p class="fragment">If the nuclei are moving fast enough, they can overcome the force of repulsion and fuse together.</p> <hr>
<div class="multiCol">
  <div class="col">
    <h5 class="fragment">In a fucion reactor,</h5>
    <p class="fragment">the plasma is heated by passing a very large electric current through it</p>
  </div>
  <div class="col">
    <p class="fragment">the plasma is contained by a magnetic field so it doesn’t touch the reactor walls. If it did, it would go cold and fusion would stop.</p>
  </div>
</div>
</section>