<section>
  <p><span class="fragment">A wind turbine </span> is an electricity generator on top of a tall tower. The generator is driven by <span class="fragment">the force of the wind on its blades</span>.</p>
</section>

<section>
  <p>A wave generator at a coastal site uses <span class="fragment">the motion of waves</span> to make a floating section <span class="fragment">move up and down</span>. This motion drives <span class="fragment">a turbine</span> which turns <span class="fragment">a generator</span>.</p>
  <p class="fragment">A cable between the generator and the shore delivers electricity to local users or via a network of cables (referred to as the grid system) to distant users. </p>
</section>

<section>
  <p>Hydroelectricity is generated when rain water collected in <span class="fragment">an uphill reservoir</span> flows <span class="fragment">downhill</span>. The water flow drives <span class="fragment">turbines</span> that turn <span class="fragment">electricity generators</span> at <span class="fragment">the foot of the hill.</span> </p>
</section>

<section>
  <p>A tidal power station in an estuary traps <span class="fragment">each high tide</span> behind <span class="fragment">a barrage</span>. The high tide is then released into the sea through <span class="fragment">turbines</span> that drive <span class="fragment">generators</span> in the barrage. </p>
</section>

<section>
  <div class="multiCol">
    <div class="col">
      <h4>Renewable Energy</h4>
      <ul>
        <li class="fragment">Wind Energy</li>
        <li class="fragment">Wave Energy</li>
        <li class="fragment">Hydroelectricity</li>
        <li class="fragment">Tidal Energy</li>
        <li class="fragment">Solar Energy</li>
        <li class="fragment">Geothermal Energy</li>
      </ul>
    </div>
    <div class="col">
      <h4>Non-renewable Energy</h4>
      <ul>
        <li class="fragment">Fossil fuels</li>
        <li class="fragment">Nuclear Energy</li>
      </ul>
    </div>
  </div>
</section>