<section>
  <h4>Solar Energy</h4>
  <p>Solar energy can be converted <br> into electricity using <span class="fragment">solar cells</span> <br> or used to heat water directly in <span class="fragment">solar heating panels</span>.</p>
</section>

<section>
  <h4>Solar Energy</h4>
  <p>Solar cells in use now convert about <span class="fragment">15%</span> of the solar energy they absorb into electrical energy. We connect them together to make <span class="fragment">solar cell panels</span>.</p>
  <div class="multiCol">
    <div class="col">
      <p class="fragment">They are useful where only small amounts of electricity are needed (e.g. watches and calculators) or in remote locations (e.g. satellites).</p>
      <p class="fragment">They are very <span class="fragment">expensive</span> to buy even though they cost nothing to run.</p>
    </div>
    <div class="col">
      <p class="fragment">You need lots of them to generate enough power to be useful and plenty of sunshine!</p>
      <p class="fragment">They don’t work at night and aren’t very effective on a cloudy day.</p>
    </div>
  </div>
</section>

<section>
  <h4>Solar heating Panel</h4>
  <p>A solar heating panel heats <span class="fragment">water</span> flowing through it. Even on a cloudy day, a solar heating panel on a house roof can supply plenty of hot water.</p>
  <div class="multiCol">
    <div class="col">
      <p class="fragment">The panel has a <span class="fragment">black</span> cover which absorbs <span class="fragment">sunlight better</span> than other colours.</p>
      <p class="fragment">The back of the panel is <span class="fragment">insulated</span> so water flowing through the panel doesn’t lose thermal energy.</p>
      <p class="fragment">The panel is filled with <span class="fragment">oil</span> so it heats up faster than water.</p>
      <p class="fragment">Water passes through <span class="fragment">copper</span> pipes in the oil.</p>
    </div>
    <div class="col">
      <p class="fragment">Copper is a good <span>conductor</span> of thermal energy so thermal energy is readily transferred from the hot oil to the water in the pipes.</p>
      <p class="fragment">Cold water enters the pipes and is heated by the oil.</p>
      <p class="fragment">The hot water from the outflow pipe is collected in <span class="fragment">an insulated tank</span>.</p>
    </div>
  </div>
</section>

<section>
  <div class="multiCol">
    <div class="col">
    <h4>Geothermal Energy</h4>
      <p class="fragment">Geothermal energy is released by <span class="fragment">radioactive substances</span> deep within the Earth.</p>
      <p class="fragment">The energy released by these substances heats the surrounding matter.</p>
      <p class="fragment">As a result, thermal energy transfers outward towards the Earth's surface.</p>
    </div>
    <div class="col">
      <p class="fragment">Rocks below the surface become very hot because they gain thermal energy from the flow of thermal energy.</p>
      <p class="fragment">Geothermal power stations are built where there are hot rocks deep below the surface.</p>
      <p class="fragment">Water is pumped down to these rocks to produce steam.</p>
      <p class="fragment">Electricity turbines at ground level are driven by the steam.</p>
      <!-- <p class="fragment">If cold water is pumped down a shaft into hot rocks below the Earth’s surface, it may be forced up another shaft as steam.</p>
      <p class="fragment">This can be used to drive a turbine and generate electricity or to heat buildings.</p> -->
    </div>
  </div>
</p>
</section>

<section>
  <h4>Source of energy</h4>
  <p class="fragment">The Sun is the source of energy for all our energy resources except <span class="fragment">nuclear, tidal and geothermal energy</span>.</p>
  <p class="fragment">Fossil fuels formed from <span class="fragment">the remains of plants and animals that grew using solar energy long ago.</span></p> 
  <p class="fragment">The Sun heats our atmosphere, creating <span class="fragment">winds, waves and rain as a result.</span></p>
</section>