<section>
  <h4>Work done</h4>
  <p>The work you do causes transfer of energy.</p>
  <p class="fragment">The work done by a force depends on the force and the distance moved. <br> It is defined as the product of the force (in newtons) and the distance moved in the direction of the force (in metres). </p>
</section>

<section>
  <h4>gravitational potential energy</h4>
  <p>In general, when an object of mass m is raised or lowered by a vertical distance $h$, <br> 
    its change of gravitational potential energy = <span class="fragment">$mgh$</span></p>
</section>

<section>
  <h4>equation of kinetic energy</h4>
  <p class="fragment">
    $$ \begin{aligned}
    \text{kinetic energy}  &amp = \frac{1}{2}mv^2 \\
    \text{where, }
    m &amp = \text{the mass of the object in kilograms} \\
    v &amp = \text{the speed of the object in } m/s \\
    \end{aligned} $$
  </p> 
</section>