<section>
  <h4>Power</h4>
  <p class="fragment">The output power of a machine is the rate at which it does work.</p>
  <p class="fragment">The output power of a machine is the same as the rate at which it transfers useful energy.</p>
  <p class="fragment">The useful energy transferred is equal to the work done.</p>
</section>

<section>
  <h4>Equation of Power</h4>
  <p class="fragment">$\text{power P (in watts)} = \frac{\text{work done (in joules)}}{\text{time taken (in seconds)}}$</p>
  <p class="fragment">$\text{power P (in watts)} = \frac{\text{useful energy transferred (in joules)}}{\text{time taken (in seconds)}}$</p>
  <p class="fragment">1 kilowatt (kW)= <span class="fragment">$10^3$</span> watts</p>
  <p class="fragment">1 megawatt (MW) = <span class="fragment">$10^6$</span> watts</p>
</section>