extends layout.pug

block content
	section
		h1= title
		button(id='shuffle', onclick='shuffle()') shuffle
	each document in documents
		!= document.content
	section(data-query-deck='ch=textbook/ch&wb=work_book/wb')
