<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <title>IGCSE PHYSICS</title>
  <link rel="stylesheet" type="text/css" href="/dist/reset.css">
  <link rel="stylesheet" type="text/css" href="/dist/reveal.css">
  <link rel="stylesheet" type="text/css" href="/dist/theme/moon.css" id="theme">
  <link rel="stylesheet" type="text/css" href="/plugin/highlight/monokai.css">
  <link rel="stylesheet" type="text/css" href="/plugin/pointer/pointer.css">
  <link rel="stylesheet" type="text/css" href="/plugin/drawer/drawer.css">
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <section>
        <h1>IGCSE ESSENTIAL PHYSICS</h1>
        <button onclick="shuffle()">Shuffle</button>
      </section>
      <section>
        <h1>Unit 4</h1>
        <h2>Energy</h2>
      </section>
      <section>
        <h3>Energy transfers</h3>
      </section>
      <section>
        <h4>Kinetic Energy</h4>
        <p class="fragment">Kinetic Energy is the energy of an object due to its motion.</p>
      </section>
    </div>
  </div>
  <script type="text/javascript" src='/dist/reveal.js'></script>
  <script type="text/javascript" src='/plugin/math/math.js'></script>
  <script type="text/javascript" src='/plugin/notes/notes.js'></script>
  <script type="text/javascript" src='/plugin/highlight/highlight.js'></script>
  <script type="text/javascript" src='/plugin/pointer/pointer.js'></script>
  <script type="text/javascript" src='/plugin/drawer/drawer.js'></script>
  <script type="text/javascript" src='/plugin/menu/menu.js'></script>
  <script type="text/javascript" defer src='/dist/index.js'></script>
</body>
</html>